@using ServiceApp.Services.Models.Offers

@model List<OfferRawCreateViewModel>

@for (int i = 0; i < 10; i++)
{

    var raw = new OfferRawCreateViewModel();

    <div class="container-fluid">
        <table class="table table-striped">
            <tr>
                <th>№</th>
                <th>Код на частта</th>
                <th>Описание</th>
                <th>Цена</th>
                <th>Количество</th>
                <th>Цена за труд</th>
            </tr>

            <tr>
                <td><input asp-for="@raw.PartCode" type="text" name="PartCode" value="" /></td>
                <td><input asp-for="@raw.PartDesciption" type="text" name="PartDesciption"></td>
                <td><input asp-for="@raw.PartPrice" type="text" name="PartPrice"></td>
                <td><input asp-for="@raw.PartCount" type="text" name="PartCount"></td>
                <td><input asp-for="@raw.PriceOfWork" type="text" name="PriceOfWork"></td>
            </tr>
        </table>
        <button type="submit" id="anotherOne" value="Добави"></button>
    </div>
}

<script>
    $(document).ready(function () {
        document.getElementById('anotherOne').onclick = function ()
        {
            
        }
    })
</script>


