@using ServiceApp.Services.Models.Cars

@model CarDetailsViewModel

<div class="jumbotron">
    <h4>@Model.Make</h4>
    <h5>@Model.CarModel</h5>
    <h5>@Model.VinNumber</h5>
    <h5>@Model.RegistrationNum</h5>
    <h5>@Model.CarOwnerName</h5>
    <h5>@Model.CarOwnerEmail</h5>
</div>

